.header{
    color:darkred;
    text-shadow: 1px 1px 5px grey;
    font-family: 'Playpen Sans';

    animation:HeaderAnimation 2s infinite;
}

@keyframes HeaderAnimation{
    from{
        color:darkorange;
        background-color: whitesmoke;
        text-shadow: 2px 2px 8px red;
        text-align: right;
    }

    to{
        color:darkred;
        background-color: lightyellow;
        text-shadow: 2px 2px 8px yellow;
        text-align: center;
    }
}

.logo{
    font-size: 20px;
    animation: LogoAnimation 9s infinite;
}

@keyframes LogoAnimation{
    from{
        color:darkblue;
        transform:rotate(0deg);
    }

    to{
        color:green;
        transform: rotate(360deg);
    }
}

.login-card{
    border:1px solid;
    padding:10px;
    margin:10px;
    width:400px;
}

.login-card h1{
    background-color: darkgreen;
    color:white;
    text-align: center;
}

.form-label{
    font-weight: bold;
    margin:0px;
    color:darkgrey;
}

.center{
    display: flex;
    justify-content: center;
}

.btn{
    margin-top: 10px;
}

.btn button{
    background-color: darkgoldenrod;
    color:white;
    border:none;
    padding:10px;
    width:100px;
    font:bold 18px 'calibri';
    box-shadow: 2px 2px 9px grey;
    border-radius: 10px;
}